<section id="welcome">
    <div class="jumbotron">
        <h1>Simple. Fast. Elastic.</h1>
        <p class="lead">
            This application demonstrates key features of Couchbase
            client.
        </p>
        <%= link_to "View the shoes", "/shoes", :class => "btn btn-large btn-inverse" %>
    </div>
</section>
