<section id="beer">
    <% @shoe.each do |shoe| %>
        <div class="page-header">
            <h1><%= shoe.key[2] %></h1>
        </div>

        <div class="row">
                <div class="span5">
                        <table class="table table-bordered table-striped table-hover">
                            <tbody>        
                                    <tr>
                                        <th>Size</th>
                                        <td><%= shoe.key[3] %></td>
                                    </tr>
                                    <tr>
                                        <th>Price</th>
                                        <td>$<%= shoe.key[4] %></td>
                                    </tr>              
                            </tbody>
                        </table>
                </div>
        </div>
    <%end%>

</section>
